# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Codeforces_submission_Downloader.settings

[deploy]
#url = http://localhost:5000/
project = Codeforces_submission_Downloader
